<div class="container text-center">
  <h1 class="my-4">New Game</h1>

  <div class="my-4">
    <% @letters.each do |letter| %>
      <span class="badge bg-primary m-1 fs-4"><%= letter.upcase %></span>
    <% end %>
  </div>

  <div class="d-flex justify-content-center my-4">
    <form class="input-group" action="/score" method="post" data-turbo="false">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% @letters.each do |letter| %>
        <%= hidden_field_tag 'letters[]', letter %>
      <% end %>
      <input type="text" name="word" class="form-control" placeholder="Your answer here" aria-label="answer" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit">Submit</button>
    </form>
  </div>
</div>
